# Ignore everything
/*.png
/*.zip
/*.gmez
/*.bmp
/*.exe
/*.gmk
/*.pdf
/*.gex
/*.txt
/*.npl
/*.c
/*.h
/*.bin
/*.chm
/Help File Source/*.chm
/Help File Source/*.log
/Graphics


# But not these files...
!.gitignore
!.gitattributes
!.git
!README.md
!LICENSE
!N64 Texture Converter.gmx/*
!Help File Source/*