# Ignore everything
/*.png
/*.zip
/*.gmez
/*.bmp
/*.exe
/*.gmk
/*.pdf
/*.gex
/*.txt
/*.npl
/*.c
/*.h
/*.bin
/*.chm
/Help File Source/*.chm
/Help File Source/*.log
/Graphics
/Plugin Source
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates


# But not these files...
!.gitignore
!.gitattributes
!.git
!README.md
!LICENSE
!N64 Texture Converter.gmx/*
!Help File Source/*